<div class="row">
  <div class="col-md-4 mx-auto mt-4">
    <div class="card card-body">
      <h2 class="card-title text-center p-4">
        Agregar Contacto
      </h2>
      <form [formGroup]="form_contact" >
        <div class="form-group p-1">
          <input formControlName="firstName" type="text"  placeholder="Ingrese su nombre" class="form-control">
          <p class="text-danger" *ngIf="form_contact.controls.firstName.hasError('required')
          &&form_contact.controls.firstName.touched">
            El Nombre es obligatorio para registrar el contacto
          </p>
        </div>
        <div class="form-group p-1">
          <input formControlName="lastName" type="text"  placeholder="Ingrese su apellido" class="form-control">
          <p class="text-danger" *ngIf="form_contact.controls.lastName.hasError('required')
          &&form_contact.controls.lastName.touched">
            El apellido es requerido
          </p>
        </div>
        <div class="form-group p-1">
          <input  type="email"  formControlName="email" placeholder="Ingrese su correo" class="form-control">
          <p class="text-danger" *ngIf="form_contact.controls.email.hasError('required')
          &&form_contact.controls.email.touched">
            El correo es obligatorio
          </p>
          <p class="text-danger" *ngIf="form_contact.controls.email.hasError('pattern')
          &&form_contact.controls.email.touched">
            El correo debe tener un formato válido
          </p>
        </div>
        <div class="d-grid gap-2 p-1 form-group">
          <button (click)="postData()" class="btn btn-success btn-block" type="submit">Registrar</button>
        </div>
        <div class="d-grid gap-2 p-1 form-group">
            <a class="btn btn-secondary btn-block" [routerLink]="['/ListContact']">Ver listado de contactos</a>
        </div>
      </form>
    </div>
  </div>
</div>
